* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
    font-family: $font_stack;
    color: $text_black;
    width: 300px;
    font-size: 14px;
}

.text-center {
    text-align: center;
}

.mt5 {
    margin-top: 5px!important;
}

.mt10 {
    margin-top: 10px!important;
}

.mt15 {
    margin-top: 15px!important;
}

.m10 {
    margin: 10px!important;
}

.mb0 {
    margin-bottom: 0!important;
}

.mb5 {
    margin-bottom: 5px!important;
}

.mb10 {
    margin-bottom: 10px!important;
}

.mb15 {
    margin-bottom: 15px!important;
}

.padded {
    margin-top: 20px;
    margin-bottom: 20px;
}

[v-cloak] {
    display: none;
}

.text-thicker {
    font-weight: 500;
}

input[type="text"] {
    width: 90%;
    border: 1px solid #CCC;
    padding: 5px 10px 7px;
    font-size: 15px;
    font-family: Segoe UI;
    line-height: 18px;
}

.padded-input {
    margin-top: 15px;
    margin-bottom: 15px;
}

#clipboard-spot {
    position: absolute;
    left: -999px;
}

.ml15 {
    margin-left: 15px!important;
}

.mr15 {
    margin-right: 15px!important;
}
