header {
    height: 46px;
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC;
    
    display: flex;
    
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        user-select: none;
        -webkit-user-select: none
    }
    
    .left {
        width: 40px;
    }
    
    .title {
        display: flex;
        flex: 1;
        font-size: 15px;
    }
    
    .right {
        display: flex;
        width: 40px;
    }
    
    .button {
        color: $icon_black;
        font-size: 20px;
        border-radius: 50%;
        outline: none;
        
        &:hover,
        &:focus {
            padding: 4px;
            color: white;
            background-color: $blue_highlight;
        }
        
        &:active {
            color: white;
            background-color: $blue_highlight;
        }
    }
}
